.container{
    margin: 5% auto;
    width: 80%;
    padding: 10px;
}

.canteen{
    width: 50%;
    margin-top: 10%;
}

.canteen-name{
    background-color: #c7edcc;
    color: #101010;
    margin-top: 5%;
}