.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }

  .icons {
    width: 64px;
    height: 66px;
    box-sizing: border-box;
  }

  .icon-word{
    margin-top: 5%;
  }

  #carouselExampleFade{
    margin: 5% 10%;
  }