/*window*/
.canteen-window{
    margin: 2%;
    /* width: 10%; */
    height: 5%;
}

.like{
    position:relative;
    width:100px;
    height:30px;
}

.like-icon{
    float: right;
    width:40px;
    height:40px;
}

.like-number{
    float:right;
    font: 2em sans-serif;
    margin-left: 10px;
}


.order {
    /* float: right; */
    margin-top :-5%;
    margin-bottom: 2%;
}
/*food*/
.food-record {
    float: right;
    margin:10px;
}

.food-record{
    position: absolute;
    right:15%;
}
